.counter {
  z-index: -1;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55%;
  width: 100vw;
  font-family: 'Otribon', sans-serif;
  font-size: 1.5vh;
  
  &__digit {
    font-weight: bolder;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55vh;
    color: rgba(253, 86, 86, 0.527);
    font-family: 'Saira', sans-serif;
  }
}