.counter {
  border: solid red 1px;
  z-index: -1;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55%;
  width: 100vw;
  
  &__digit {
    height: 90%;
    border: solid green 1px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35em;
  }
}