.finalCount {
  &__container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    &__result {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 60%;
      margin-bottom: 30px;

      &_text {
        font-family: 'Otribon', sans-serif;
      }
      
      &_digits {
        display: flex;
        align-items: center;
        font-family: 'Saira', sans-serif;
        height: 90%;
        font-size: 35vh;
        font-weight: bolder;
        color: rgba(253, 86, 86, 0.527);
      }
    }

    &__form {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &_input {
        text-align: center;
        font-size: 1.5em;
        border-top: none; 
        border-left: none; 
        border-right: none;
        font-family: 'Otribon', sans-serif;
        outline: none;


        &_error {
          border-bottom: solid red 1px;
          &::placeholder {
            color: rgba(255, 0, 0, 0.548);
          }
        }
      }
    }
  }
}