@font-face {
  font-family: 'Saira';
  src: url('assets/fonts/SairaExtraCondensed-Regular.ttf');
}

@font-face {
  font-family: 'Otribon';
  src: url('assets/fonts/Orbitron-Regular.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
