.setTimers {
  &__container {
    
    &__checkboxes {
      display: flex;
      height: 50px;
      
      &__item {
        width: 20%;
        cursor: pointer;
        outline: none;
        border: none;
        transition: 0.5s;
        font-family: 'Saira', sans-serif;
        font-size: 2rem;
        
        &_active {
          color: red;
          font-size: 3.5rem;
        }
      }
    }
  }
}